.footer {
    position: fixed;
    left: 16px;
    bottom: 16px;
    text-align: left;
    background-color: rgba(0, 0, 0, .7);
    padding: 8px 24px;
    border-radius: 32px;
    opacity: .95;
    backdrop-filter: blur(8px);
}

.footer span {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #09f;
    opacity: .8;
}

.footer h4 {
    display: flex;
    justify-content: center;
    margin: 0;
    display: flex;
}

.footer h5 {
    display: flex;
    justify-content: center;
    margin: 0;
    display: flex;
}